.main {
    margin: 1rem;
    border-style: solid;
    border-color: lightblue;
    border-width: 2px;
}

.btn{
    margin: 20px;
}

h2 {
    text-align: center;
}

.col2 {
    grid-column-start: 2;
}

.courseInfo {
    margin: 1rem;
    display: grid;
    grid-template-columns:  70% 30%;
    text-align: left;
    
}
