.course {
    border-style: solid;
    border-color: lightpink;
    border-width: 2px;
    display: grid;
    grid-template-columns:  60% 40%;
}


.col1 {
    text-align: justify;
    grid-column-start: 1;
}

.col1 h2 {
    text-align: left;
}

.col2 {
    margin-left: 2rem;
    grid-column-start: 2;
}

.authors {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.buttons{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.btn {
    text-align: center;
}

