.header {
    margin: 1rem;
    border-style: solid;
    border-color: lightsalmon;
    border-width: 2px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  
  }
  
  .left {
    grid-column-start: 6;
    display: inline-flex;
  }