.body {
    margin: 1rem;
    border-style: solid;
    border-color: lightblue;
    border-width: 2px;
  }
  
  .search {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    }
  
    .course {
      margin: 1rem;
      padding: 10px;
      border-style: solid;
      border-color: lightblue;
      border-width: 2px;
    }
    