.main {
    border-style: solid;
    border-color: lightblue;
    border-width: 2px;
}

.row1  {
    display: grid;
} 
.row1 .btn {
    text-align: center;
}

.row3 {
    display: grid;
}

.col1 .btn {
    display: inline-block;
    text-align: center;
}

.authorlist {
    display: flex;
}

.list1 {
    text-align: left;
}

.authorlist {
    height: 30px;
    display: grid;
    grid-template-columns:  repeat(2, 1fr)
}

.authorlist button{
    height: 30px;
 
}
.authorlist p{
    margin: 0px;
    height: 30px;
 
}