*{
    padding: 5px;
}
label {
    display: block;
}

.registration {
    text-align: center;
    margin: 1rem;
    display: block;
    border-style: solid;
    border-color: lightblue;
    border-width: 2px;
}